.Button-signin{
    background-color: red;
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 3px;
    border: 0;
    position: absolute;
    top: 20px;
    left: 82%;
    font-weight: bold;
    cursor: pointer;
}


.signinbutt{
  background-color: red;
  color: white;
  padding: 10px;
  width: 290px;
  border-radius: 3px;
  border: 0;
  position: relative;
  font-weight: bold;
  top: 20px;
  /* left: 82%; */
  font-weight: bold;
  cursor: pointer;
}

.buttoncode{
  background-color: rgba(155, 150, 150, 0.3);
  color: white;
  padding: 10px;
  width: 290px;
  border-radius: 3px;
  border: 0;
  position: relative;
  font-weight: bolder;
  /* top: 10px; */
  /* left: 82%; */
  cursor: pointer;
}