.codemsg {
    font-size: small;
    color: rgba(255, 255, 255, 0.7);
}

.signinbuttton {
    display: flex;
    flex-direction: row;
}

.buttt {
    margin-left: 10px;
    cursor: pointer;
    color: white;
}

.buttt:hover {
    text-decoration: underline;
    color: white;
}